* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: #1f242d;
  color: #ffffff;
}
.header {
  height: 50px;
  width: 100%;
  background-color: slateblue;
  display: flex;
  flex-wrap: wrap;
  white-space: nowrap;
  overflow: hidden;
  justify-content: space-between;
  align-items: center;
  padding: 12px 30px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}
a,
li {
  list-style-type: none;
  text-decoration: none;
  color: #ffffff;
  font-size: 1.75rem;
}
a:hover {
  color: #00abf0;
}
.sci-icon {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.name {
  font-weight: 600;
}
.header-options ul {
  display: flex;
}
.header-options ul li {
  margin-right: 1rem;
}

.contact {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.contact-info {
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
  color: #00abf0;
}

.info {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  padding: 1rem;
  color: #1f242d;
  background-color: #00abf0;
  border: 2px solid #00abf0;
  border-radius: 1rem;
  box-shadow: 0 0 4px #00abf0;
}
.info:hover,
.address:hover {
  box-shadow: none;
  color: #00abf0;
  background-color: transparent;
}
.address {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  padding: 1rem;
  color: #1f242d;
  background-color: #00abf0;
  border: 2px solid #00abf0;
  border-radius: 1rem;
  box-shadow: 0 0 4px #00abf0;
}
.address i {
  font-size: 2.4rem;
  background-color: #00abf0;
  padding: 0.5rem;
  margin-right: 0.5rem;
  border: 2px solid #00abf0;
  box-shadow: 0 0 4px #00abf0;
  border-radius: 50%;
  color: #1f242d;
}

.info-content a {
  display: inline-flex;
  font-size: 2.4rem;
  background-color: #00abf0;
  padding: 0.5rem;
  margin-right: 0.5rem;
  border: 2px solid #00abf0;
  box-shadow: 0 0 4px #00abf0;
  border-radius: 50%;
  color: #1f242d;
}
.info-content a:hover,
.address i:hover {
  box-shadow: none;
  color: #00abf0;
  background-color: transparent;
}
.sm-icons {
  gap: 1rem;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}

@media (max-width: 768px) {
  .info {
    display: flex;
  }
}
