* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: #1f242d;
  color: #d1d1d1;
  overflow: auto;
}

/* HOME SECTION */

.main-container {
  display: flex;
  height: 100vh;
}

#check {
  display: none;
}
.menu-icon {
  top: 0rem;
  left: -2rem;
  opacity: 1;
  color: #ffffff;
  font-size: 2.5rem;
  transition: 0.3s;
}
.menu-icon:hover {
  font-size: 3rem;
  color: #00abf0;
}
.name-xlogo {
  line-height: 60px;
  padding: 0 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  box-shadow: 0 2px 4px #1f242d;
}
.name {
  font-size: 1.5rem;
  font-weight: 400;
  color: #ffffff;
  text-decoration: none;
}
.name:hover {
  color: #00abf0;
}
.x-icon {
  margin-top: 0.9rem;
  font-size: 2rem;
  opacity: 0;
  color: #ffffff;
  transition: all 0.3s linear;
}
.x-icon:hover {
  font-size: 2.4rem;
  color: #00abf0;
}
.sidebar {
  height: 100vh;
  width: 300px;
  background-color: #2c313c;
  position: fixed;
  left: -300px;
  box-shadow: 0 2px 6px #1f242d;
  transition: all 0.3s linear;
}
.sidebar-options {
  margin-top: 2rem;
  text-align: center;
}
li {
  list-style-type: none;
}
.sidebar-options li i {
  font-size: 2rem;
  color: #ffffff;
  display: inline-flex;
  align-self: center;
  padding: 0 0.75rem;
}
.sidebar-options i:hover {
  color: #00abf0;
  font-size: 2.2rem;
}

.sidebar-options ul li a {
  font-size: 1.75rem;
  line-height: 4rem;
  color: #ffffff;
  text-decoration: none;
}
.sidebar-options li:hover {
  box-shadow: 0 0 6px #1f242d;
}
.sidebar-options li a:hover {
  color: #00abf0;
}
.socialmedia-i {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  margin-top: 15rem;
  gap: 1rem;
}
.socialmedia-i i {
  color: #ffffff;
}
.socialmedia-i i:hover {
  color: #00abf0;
  transform: scale(2, 2);
}
#check:checked ~ .sidebar {
  left: 0;
}
#check:checked ~ .sidebar .name-xlogo .x-icon {
  opacity: 1;
}
#check:checked ~ .menu-icon {
  opacity: 0;
}
#check:checked ~ .home {
  display: none;
}
#check:checked ~ .timeline {
  display: none;
}
#check:checked ~ .project-section {
  display: none;
}
#check:checked ~ .contact-section {
  display: none;
}

.home {
  height: 100vh;
  padding: 3rem 10% 0;
}
.home-info {
  display: flex;
  flex-direction: column;
}
#name {
  font-size: 3.3rem;
  color: #00abf0;
}
#profession {
  font-size: 2rem;
  margin-top: -10px;
  color: #00abf0;
}
#description {
  width: 95%;
  font-size: 1rem;
  color: #b0bec5;
  padding-right: 12%;
}
.cvbutton {
  display: flex;
  align-items: center;
  margin-top: 0.5rem;
}
#btn {
  display: inline-block;
  padding: 10px 30px;
  background-color: #00abf0;
  border: 2px solid #00abf0;
  text-decoration: none;
  border-radius: 2.5rem;
  font-size: 1rem;
  font-weight: 600;
  color: #1f242d;
  box-shadow: 0 0 10px #00abf0;
  transition: 0.5s;
}
#btn:hover {
  background-color: transparent;
  color: #00abf0;
  box-shadow: none;
}
.homeimg {
  display: flex;
}
.imgbox img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #00abf0;
}

/* HEADER SECTION - ABOUT , PROJECT , CONTACT */

.header {
  height: 60px;
  width: 100%;
  background-color: slateblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}
a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.5rem;
}
a:hover {
  color: #66d86a;
}
.sci-icon {
  display: flex;
  align-items: center;
  line-height: 60px;
  gap: 1rem;
}
.name {
  font-weight: 600;
  white-space: nowrap;
}

.header-options ul {
  list-style-type: none;
  display: flex;
  gap: 1rem;
  margin-left: 1rem;
  margin-right: 3rem;
  align-items: center;
}

/* ABOUT SECTION */

.timeline {
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 4.5rem;
}
.title {
  color: #66d86a;
}
.timeline p {
  color: #d1d1d1;
}
.timeline h3 {
  color: #ffb56b;
}
.timeline-row,
.skills-row,
.certi-row,
.profile-row {
  display: flex;
  justify-content: center;
  padding: 0 9%;
  column-gap: 1.75rem;
  margin-top: 1rem;
}
.skills-row {
  flex-wrap: wrap;
}
.timeline-content,
.skills-content,
.certi-content,
.profile-content {
  padding: 0.75rem 0;
}
.language-row {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin-top: 1rem;
  padding: 0 9%;
  width: 100%;
}
.languages {
  display: flex;
  padding: 1rem 0.5rem;
  gap: 1.75rem;
  font-size: 1.5rem;
  border: 2px solid #00abf0;
  border-radius: 0.75rem;
}
.border-right {
  margin-right: 0.5rem;
  border-right: 2px solid #00abf0;
}
.timeline-box {
  border: 2px solid #00abf0;
  border-radius: 0.75rem;
}
.year {
  padding: 0.5rem 0;
}
.border {
  border-bottom: 1px solid #00abf0;
}

.content {
  padding: 0.75rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
}

.skills-box {
  display: flex;
  flex-wrap: wrap;
  border: 2px solid #00abf0;
  border-radius: 0.75rem;
}
.skills-info span {
  display: inline-flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 7rem;
  min-height: 5rem;
  font-size: 1rem;
  font-weight: 600;
  border: 2px solid #00abf0;
  border-radius: 0.5rem;
}
.skills-info span i {
  display: flex;
  font-size: 2.5rem;
  color: #00abf0;
}

.skills-info {
  padding: 0.5rem;
}

.certi-content,
.profile {
  padding: 1rem;
  border: 2px solid #00abf0;
  border-radius: 0.75rem;
}
.profile,
.certi-content p {
  font-size: 1.4rem;
  line-height: 3rem;
}
.certi-content ul li {
  list-style-type: square;
  margin-left: 1.5rem;
}

.line {
  width: 100%;
  height: 4rem;
  border-bottom: 1px solid #1f242d;
}

/* PROJECT SECTION */

.project-section {
  margin: 5rem 0 0 0.5rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
}
.projectbox {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  padding: 0.5rem;
  box-shadow: 0 0 10px #00abf0;
  color: #00abf0;
  border-radius: 0.75rem;
}
.projectbox h3 {
  color: #e6a867;
  border-bottom: 1px solid #00abf0;
  line-height: 2rem;
  margin-bottom: 0.5rem;
}
.projectbox a h2 {
  text-align: center;
  padding: 10px 10px;
  background-color: #00abf0;
  color: #1f242d;
  border: 2px solid #00abf0;
  text-decoration: none;
  border-radius: 2.5rem;
  font-size: 1.5rem;
  font-weight: 600;
  box-shadow: 0 0 8px #00abf0;
  transition: 0.5s;
  margin: 1rem 0;
}
.projectbox a h2:hover {
  box-shadow: none;
  color: #00abf0;
  background-color: transparent;
}
.projectimg img {
  width: 100%;
  height: 250px;
  border-radius: 1rem;
  box-shadow: 0 0 4px #00abf0;
  border: 2px solid #00abf0;
}

/* CONTACT SECTION */

.contact-section {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding: 0 9%;
}

.contact-info {
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  margin-bottom: 1rem;
  color: #00abf0;
}

.info {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  padding: 1rem;
  color: #1f242d;
  background-color: #00abf0;
  border: 2px solid #00abf0;
  border-radius: 1rem;
  box-shadow: 0 0 4px #00abf0;
}
.info:hover,
.address:hover {
  box-shadow: none;
  color: #00abf0;
  background-color: transparent;
}
.address {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  padding: 1rem;
  color: #1f242d;
  background-color: #00abf0;
  border: 2px solid #00abf0;
  border-radius: 1rem;
  box-shadow: 0 0 4px #00abf0;
}

.contact-section a {
  display: inline-flex;
  font-size: 2.4rem;
  background-color: #00abf0;
  padding: 0.5rem;
  margin-right: 0.5rem;
  border: 2px solid #00abf0;
  box-shadow: 0 0 4px #00abf0;
  border-radius: 50%;
  color: #1f242d;
}
.contact-section a:hover,
.address i:hover {
  box-shadow: none;
  color: #00abf0;
  background-color: transparent;
}
.sm-icons {
  gap: 1rem;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}

@media (max-width: 768px) {
  .header {
    justify-content: center;
  }

  .header-options {
    display: none;
  }
  .menu-icon {
    position: fixed;
    top: 0;
    left: 0;
    opacity: 1;
  }
  .sidebar {
    top: 0;
  }
  .timeline-row,
  .certi-row,
  .profile-row,
  .language-row,
  .languages {
    flex-direction: column;
  }
  .project-section {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
  .info,
  .address {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
  }

  .info-content h2,
  .contact-info {
    font-size: 1rem;
  }
  .contact-section a {
    font-size: 1.5rem;
    border: 2px solid #1f242d;
  }
}
@media (max-width: 480px) {
  .header {
    display: none;
  }
  .sci-icon i {
    display: none;
  }
  .home {
    display: flex;
    flex-direction: column;
    margin: 0;
  }
  #name {
    font-size: 2rem;
  }
  #profession {
    font-size: 1.5rem;
  }
  #description {
    font-size: 0.85rem;
  }
}
